@{
    ViewBag.Title = "Answer a Question";
}

<div class="row">
    <div class="col-md-12">
        <h2>Write an Answer</h2>
        <p>
            Preview of Question.
        </p>
        <p>
            Write an Answer.
        </p>
    </div>
</div>