@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>TaxOverflow</h1>
    <h2>Your trusted source for answering all your questions!</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p>
            @Html.ActionLink("Answer Preview", "Answer", new { area = "" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Comment Preview", "Comment", new { area = "" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Search Result Preview", "Search", new { area = "" }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>