@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>TaxOverflow</h1>
    <h2>Your trusted source for answering all your questions!</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p>
        </p>
        <p><a class="btn btn-default">Learn more</a></p>
    </div>
</div>