@{
    ViewBag.Title = "Post A Question";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    @*TODO: JavaScript validation of the DDL  value != "default"
        Possible new value to be saved if  *@
}

<div class="row">
    <div class="col-md-12">
        <h2>Post a Question</h2>
        <form method="post" action="/Home/Question">
            <select id="ddlCategory" name="ddlCategory">
                <option value="default">Select a Category</option>
                @{foreach (var ddlItem in Model)
                {
                    <option value="@ddlItem.CategoryID">@ddlItem.Category</option>
                }
                }
                <option value="Other">Other</option>
            </select>

            @*TODO: need a hidden postable textbox that becomes visible only when "Other" is selected from ddlCategory*@

            <textarea id="txtQuestion" name="txtQuestion"></textarea>
            <div class="text-right">
                <button type="submit" name="btnSubmit" id="btnSubmit" value="Submit"
                        title="Submit" class="btn btn-default" style="margin-top: 20px;">
                    Submit
                </button>

                <button type="button" name="btnCancel" id="btnCancel" value="Cancel"
                        title="Cancel" class="btn btn-default" style="margin-top: 20px;">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>