@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Question List";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrQuestionList" class="col-lg-6">All Questions</h2>

        <select id="ddlSort" >
            <option value="default">Select a Sort</option>
            <option value="CategoryASC">Category: A - Z</option>
            <option value="CategoryDESC">Category: Z - A</option>
            <option value="VotesDESC">Votes: High - Low</option>
            <option value="VotesASC">Votes: Low - High</option>
            <option value="Unanswered">Unanswered Questions</option>
        </select>

        <div class="clearfix"></div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>