@{
    ViewBag.Title = "Post A Question";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-12">
        <h1>Ask a Question</h1>
        <p>Write a Question.</p>
    </div>
</div>

