@{
    //This could preview the search terms?
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-12">
        <h2>Search</h2>
        <p>
            List of Questions that Match Search Term(s).
        </p>
    </div>
</div>