@{
    //This could preview the search terms?
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrSearchResults" class="col-lg-6">Search Results - ### Results</h2>

        <select id="ddlSort">
            <option value="default">Select a Sort</option>
        </select>

        <div class="clearfix"></div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>

        <div class="Start">
            <div class="row">
                <div class="Question col-sm-12">
                    <a href="~/Home/ViewQuestion?question_id=">Short Preview of Question</a>
                </div>
            </div>
            <div class="row">
                <div class="Votes col-lg-2">
                    0 Votes
                </div>
                <div class="Category col-lg-5">
                    Preview Category
                </div>
                <div class="Author col-sm-5">
                    <span class="visible-lg-inline-block">
                        <img src="~/Images/GenericPerson.png" width="25" />
                    </span>
                    <span class="visible-lg-inline-block">
                        Posted by Author <br />
                        at TimeStamp
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>