@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //question in the title?
    ViewBag.Title = "";
}

<div>
    <p>This would be a list of open questions. Maybe the questions that are not considered Closed</p>
</div>
