@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //in title this could be a question cut to a length of 65 characters total
    ViewBag.Title = "";
}

<div class="jumbotron">
    Question here.
</div>