@{
    Layout = null;
    
    //in title this could be a question cut to a length of 65 characters total
    ViewBag.Title = "";
}

<div>
    <p>This page will be to view a question and it's answers.  Maybe add a place to answer this question and open up the Answer question page</p>
</div>

