@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //in title this could be a question cut to a length of 65 characters total
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-md-12">
        <h2>Viewing a Question.</h2>
        <p>
            Question.
        </p>
        <p>
            Comment
        </p>
        <p>
            Answer.
        </p>
    </div>
</div>