@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //question in the title?
    ViewBag.Title = "";
}

<div>
    <h1>Unanswered Questions</h1>
    <p>This would be a list of open questions.</p>
</div>
